[v-cloak] {
	display: none
}

#main {
	font: 14px arial, sans-serif;
	background: #ddd;
	min-height: 100vh;
}

.navbar {
	height: 30px;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#top {
	background-color: #336;
	color: #f1f1f1;
}

#top p {
	font-size: 16px;
	line-height: 25px;
	padding-left: 10px;
	margin: 0;
	font-size: 18px;
	font-family: cursive;
}

.background {
	opacity: 0.3;
	width: 100%;
	min-height: 100vh;
}

.main-container {
	padding: 15px 0 0 30px;
}

.tab-bar {
	display: block;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

ul {
	padding-inline-start: 0;
}

li {
	display:inline-block;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	padding: 8px 0;
	margin-right: 30px;
  width: 100px;
  height: 30px;
	font-size: 14px;
	font-family: Arial, Sans-Serif;
	cursor: pointer;
}

li:hover {
  background: #aaa;
}

.content-wrapper {
	background: white;
	border-radius: 5px;
	display: block;
	min-height: 450px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	overflow: hidden;
}

.post-short {
	font-size: 16px;
	padding-top: 8px;
	padding-left: 10px;
	height: 50px;
	cursor: pointer;
}

.post-short:hover {
	background: #aaa;
}

.post-short a{
	color: black;
}
.post-short a:hover{
	text-decoration: none;
}


.post-short-date {
	padding-top: 3px;
	font-size: 12px;
	color: #444;
}

/* always present */
.expand-transition {
  transition: all .3s ease;
  height: 30px;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}

[v-cloak] {
	display: none;
}

/* Disable user select*/
#main {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
